@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Life Savers', serif;
  line-height: 1.5;
  font-weight: 700;
  color: #1d2725;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-height: 40vh;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* Стилі для react-select */

/* .react-select__container {
} */

/* .react-select__control {
} */

/* .react-select__menu {
} */

/* .react-select__menu-list {
} */

/* .react-select__menu-list > div:nth-child(even) {
  background-color: rgba(203, 243, 203, 0.6);
} */

/* .react-select__option {
  background-color: rgba(203, 243, 203, 0.6);
} */

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.active {
  scale: 0.9;
  background: linear-gradient(to bottom right, #2684ff, transparent),
    linear-gradient(to top left, rgb(68 68 70), transparent);
}

.active > svg {
  color: rgb(255, 215, 0);
}
